<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>
<%= 1+1 %>
<% target = "world" %>
<%= "Hello #{target}" %>
<% @array.each do |f|%>
  <%= f %>
<% end %>
<a href="/demo/index">index page 1</a>
<%=link_to('Index page 2', {:action => 'index'}) %>
<br>
ID: <%= params[:id]%>
ID: <%=@id%>
Next Pages: <%= @page + 1%>
<hr>
<%= params.inspect %>
